<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<div align="center">

    <h3>New user</h3>

    <form action="#" th:method="POST" th:action="@{/user-create}" th:object="${user}">
        <label for="firstName">Enter firstname: </label>
        <input type="text" th:field="*{firstName}" id="firstName"/>
        <br/>
        <label for="lastName">Enter lastname: </label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <br/>
        <label for="email">Enter email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <br/>
        <input type="submit" value="Create"/>
    </form>
</div>
</body>
</html>